In [4]:
!python3 --version

Python 3.12.3

In [17]:
x = "Hello World"

print(x[1:6:2])

el

## Structures de données 
### Listes - Tuples - Sets - Dictionnaires

#### Les listes

In [18]:
fruits = ["pomme", "banane", "orange"]
print(fruits[0])
fruits.append("kiwi")
print(fruits)

pomme

In [ ]:
notes = [12, 15, 8, 17]
notes.append(14)
notes.remove(8)
print(notes)

print(sum(notes) / len(notes)) 

print(notes.count(15))

[12, 15, 17, 14]
1
14.5

#### Les tuples

In [ ]:
coordonnees = (10, 20)
## un tuple est immuable (non modifiable) => ni l'jaout ni la modification ne sont possibles

print("première coordonnée:", coordonnees[0])
print("nombre d'éléments dans coordonnees:", len(coordonnees))

print("nombre d'occurences de 10 dans coordonnees:", coordonnees.count(10))

première coordonnée: 10
nombre d'éléments dans coordonnees: 2
nombre d'occurences de 10 dans coordonnees: 1

In [6]:
point = (3, 4, 5)
print("deuxième élément de point:", point[1])

print("nombre d'occurences de 4 dans point:", point.count(4))

deuxième élément de point: 4
nombre d'occurences de 4 dans point: 1

#### Les sets

In [ ]:
# si on utilise un set c'est qu'on n'a pas besoin de l'ordre ni des répétition sinon nous devons utiliser les listes
# les ops mathématiques comme intersection et union ne sont possibles qu'en utilisant les sets
# dans les sets on peut ajouter des éléments mes pas modifier ceux déjà présents

emails = {"alice@email.com", "bob@email.com", "alice@email.com"}
print(emails)  # {'alice@email.com', 'bob@email.com'} (doublon supprimé)
print("alice@email.com" in emails)  # True (O(1) rapide !)
emails.add("claire@email.com")
emails.add("alice@email.com") # tentative d'ajout d'un doublon, ça ne fait rien du tout

print(emails)

{'alice@email.com', 'bob@email.com'}
True
{'alice@email.com', 'claire@email.com', 'bob@email.com'}

In [27]:
villes = {"Paris", "Lyon", "Paris"}
villes.add("Marseille")

print("Toulouse existe dans la liste" if "Toulouse" in villes else "Toulouse n'existe pas dans la liste")
print(len(villes))

Toulouse n'existe pas dans la liste
3

#### Les dictionnaires

In [45]:
eleves = {"Alice": 15, "Bob": 17, "Clara": 16}
print(eleves["Alice"])  # 15
eleves["Bob"] = 18      # Modifie

15

In [1]:
stocks = {"pomme": 10, "banane": 5}
stocks["orange"] = 8    # Ajoute une nouvelle entrée
print(stocks) 
print("banane" in stocks)  # True
print(len(stocks))  

stocks["banane"] -= 2  # Vend 2 bananes
print(stocks)

myy_list = []
for stock in stocks : myy_list.append(stock) 
print(myy_list)

{'pomme': 10, 'banane': 5, 'orange': 8}
True
3
{'pomme': 10, 'banane': 3, 'orange': 8}
['pomme', 'banane', 'orange']

## Exercices

### 1. Niveau facile

    Exo 1 (list) : à partir de notes = [9, 12, 5, 18, 14], enlève toutes les notes < 10, puis trie la liste dans l’ordre croissant et affiche la moyenne.

    Exo 2 (tuple) : crée une liste de tuples points = [(1, 2), (3, 4), (5, 0)], puis affiche la somme de toutes les abscisses (les premiers éléments).

In [61]:
notes = [9, 12, 5, 18, 14]

notes = [x for x in notes if x >= 10]

print(notes)

notes.sort(reverse=True)

print(notes)
print("Moyenne:", sum(notes) / len(notes) )

[12, 18, 14]
[18, 14, 12]
Moyenne: 14.666666666666666

In [63]:
points = [(1,2), (3,4), (5,0)]

somme = sum(x for x,_ in points)

print("Somme des x:", somme)

Somme des x: 9

### 2. Niveau moyen

    Exo 3 (set) : à partir de deux listes l1 et l2, affiche

        les éléments communs

        les éléments qui sont seulement dans l1

        les éléments présents dans au moins une des deux listes (union).

    Exo 4 (dict) : tu as stocks = {"pomme": 10, "banane": 5, "orange": 8} et ventes = [("pomme", 3), ("banane", 2), ("pomme", 4)]. Mets à jour stocks en fonction des ventes (si stock < vente, ne descends pas en-dessous de 0).

In [98]:
l1 = [1, 2, 3, 4]
l2 = [4, 5, 6]

print("les éléments communs:", [x for x in l1 if x in l2])

print("les éléments qui sont seulement dans l1", [x for x in l1 if x not in l2])

print("les éléments présents dans l1 ou l2", list(set(l1) | set(l2)))

test = list(set(l1) | set(l2))
print(test)

les éléments communs: [4]
les éléments qui sont seulement dans l1 [1, 2, 3]
les éléments présents dans l1 ou l2 [1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [94]:
stocks = {"pomme": 10, "banane": 5, "orange": 8}
ventes = [("pomme", 3),("banane", 2), ("pomme", 10), ("kiwi", 1)]


# for f, q in ventes: 
#     stocks[f] = max(0, stocks[f] - q)

# on utilise dict.get pour éviter une erreur si le fruit n'existe pas, ça rend 0 si c'est le cas
for fruit, q in ventes: stocks[fruit] = max(0, stocks.get(fruit, 0) - q)

print(stocks)

{'pomme': 0, 'banane': 3, 'orange': 8, 'kiwi': 0}

### 3. Niveau difficile

    Exo 5 (combination) : à partir d’une liste de tuples
    achats = [("Alice", "pomme"), ("Bob", "banane"), ("Alice", "banane"), ("Clara", "pomme")]
    construis un dict clients → set de produits achetés.
    Exemple attendu : {"Alice": {"pomme", "banane"}, ...}.

    Exo 6 (dict + list) : tu as un dict notes = {"Alice": [12, 15], "Bob": [9, 10, 8], "Clara": [18]}.
    Calcule un nouveau dict moyennes = {"Alice": 13.5, ...} et affiche le nom de l’élève avec la meilleure moyenne.

In [121]:
achats = [("Alice", "pomme"), ("Bob", "banane"), ("Alice", "banane"), ("Clara", "pomme"), ("Alice", "banane")]

dictionnaire = {}



for person, fruit in achats:
    if person not in dictionnaire:
        dictionnaire[person] = set()
    dictionnaire[person].add(fruit)
print(dictionnaire)

dictionnaire = {person: {fruit for p, fruit in achats if p == person} for person, _ in achats}
print(dictionnaire)

{'Alice': {'banane', 'pomme'}, 'Bob': {'banane'}, 'Clara': {'pomme'}}
{'Alice': {'banane', 'pomme'}, 'Bob': {'banane'}, 'Clara': {'pomme'}}

In [57]:
notes = {"Alice": [12, 15], "Bob": [9, 10, 8], "Clara": [18]}
#notes.values renvoie [[12, 15], [9, 10, 8], [10, 7, 12]] le max compare les liste premier avec premier si egale => deuxième...
print(max(notes.values()))

# dictionnaire pour la moyenne de chaque élève
moyennes = {name: sum(values)/len(values) for name, values in notes.items() }

print(moyennes)
# max moyennes renvoie la personne (l'index) qui a la plus haute moyenne
print(max(moyennes))

# moyennes.values renvoie une liste des moyennes de tous les élèves, max renvoie la meilleure
print(max(moyennes.values()))

print(moyennes.get("Alice"))

meilleur = max(moyennes, key= moyennes.get)
print (meilleur, moyennes[meilleur])

[18]
{'Alice': 13.5, 'Bob': 9.0, 'Clara': 18.0}
Clara
18.0
13.5
Clara 18.0

### 4. Niveau extra difficile (type entraînement DSA)

    Exo 7 (analyse de fréquence) : écris une fonction qui prend une chaîne, par ex "abracadabra", et retourne :

        un dict caractère → nombre d’apparitions

        le caractère le plus fréquent (en cas d’égalité, n’importe lequel des max).

    Exo 8 (déduplication + ordre) : on te donne une liste de logs d’accès :
    logs = ["alice", "bob", "alice", "clara", "bob", "bob", "dave"]

        affiche la liste des utilisateurs uniques dans l’ordre d’apparition

        affiche un dict utilisateur → nombre d’accès.

In [66]:
def dict_carac_occu (chaine):

    caracteres = {}
    caracteres = {car: chaine.count(car) for car in chaine if car not in caracteres } 

    return caracteres

diction = dict_carac_occu("banana")
print(diction)

print("le caractère le plus fréquent est", max(diction, key= diction.get))

{'b': 1, 'a': 3, 'n': 2}
le caractère le plus fréquent est a

In [36]:
logs = ["alice", "bob", "alice", "clara", "bob", "bob", "dave"]
list_person = dict.fromkeys(logs)
print(list_person)

for idx in list_person: list_person[idx] = logs.count(idx) 
print(list_person)

{'alice': None, 'bob': None, 'clara': None, 'dave': None}
{'alice': 2, 'bob': 3, 'clara': 1, 'dave': 1}

## Exercices Pynative

In [49]:
my_list = [25, 45, 36, 47, 69, 48, 68, 78, 14, 36] 
my_list.sort(reverse=True)
print(my_list)

[78, 69, 68, 48, 47, 45, 36, 36, 25, 14]

#### Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [10]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l3 = []

for i in range(len(l1)): 
    if i%2 == 1 : l3.append(l1[i])


for i in range(len(l2)):
    if i%2 == 0 : l3.append(l2[i])
    
# l3.sort()
print(l3)

[6, 12, 18, 4, 12, 20, 28]

#### Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

In [14]:
list1 = [54, 44, 27, 79, 91, 41]
i4 = list1.pop(4)
list1.insert(1,i4)
list1.append(i4)

print(list1)

[54, 91, 44, 27, 79, 41, 91]

#### Slice list into 3 equal chunks and reverse each chunk

In [25]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
nb_elem = len(sample_list)/3
l1 = []
l2 = []
l3 = []

for i in range(int(nb_elem)):
    l1.append(sample_list[i])
    l2.append(sample_list[i+3])
    l3.append(sample_list[i+6])

l1.reverse()
l2.reverse()
l3.reverse()

print(l1, l2, l3)

[8, 45, 11] [12, 14, 23] [89, 45, 78]

#### Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element.

In [28]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

# occurence of each element
nb_occ = {}
nb_occ = {value : sample_list.count(value) for value in sample_list if value not in nb_occ}
print(nb_occ)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

#### Write a code to create a Python set such that it shows the element from both lists in a pair.

In [2]:
first_list = [2, 3, 4, 5, 6, 7, 8, 3]
second_list = [4, 9, 16, 25, 36, 49, 64, 9]

result = list(zip(first_list, second_list, strict= True))

print(result)
result_set = set(result)

print(result_set)

[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (3, 9)]
{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

#### Write a code to find the intersection (common) of two sets and remove those elements from the first set.

In [28]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

intersection = first_set.intersection(second_set)
print(f"Intersection is {intersection}")

for value in intersection:
    first_set.remove(value) 

first_set.add(65)
print(f"First Set after removing common element {first_set}")

Intersection is {57, 83, 29}
First Set after removing common element {65, 23, 42, 78}

#### Write a code to checks if one set is a subset or superset of another set. If found, delete all elements from that set.

In [33]:
first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}

print("First set is subset of second set - ", first_set.issubset(second_set))

    

print("Second set is subset of first set - ", second_set.issubset(first_list))



print("First set is Super set of second set -  ", first_set.issuperset(second_set))


print("Second set is Super set of First set -  ", second_set.issuperset(first_set))

if first_set.issubset(second_set): first_set.clear()
if second_set.issubset(first_set): second_set.clear()

print("First Set ", first_set)
print("Second set ", second_set)

First set is subset of second set -  True
Second set is subset of first set -  False
First set is Super set of second set -   False
Second set is Super set of First set -   True
First Set  set()
Second set  {48, 34, 53, 22, 27, 43, 93}

#### Write a program to iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

In [40]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

roll_number = [value for value in set(sample_dict.values()) if value in roll_number]

print(roll_number)

[97, 76, 69, 47]

#### Write a code to get all values from the dictionary and add them to a list but don’t add duplicates

In [43]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

# order not preserved
my_list = list(set(speed.values()))
print(my_list)

# to preserve order
my_list = []
dict_values = speed.values()
for value in dict_values:
    if value not in my_list: my_list.append(value) 
print(my_list)

[44, 47, 52, 53, 54]
[47, 52, 44, 53, 54]

#### Write a code to remove duplicates from a list and create a tuple and find the minimum and maximum number

In [46]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

no_duplicates = tuple(set(sample_list))

print("my tuple ", no_duplicates)
print(f"maximum number is {max(no_duplicates)}")
print(f"minimum number is {min(no_duplicates)}")

my tuple  (65, 99, 41, 45, 87, 94)
maximum number is 99
minimum number is 41